@page "/GasPrice"
@inject HttpClient Http

<PageTitle>Miles95 API</PageTitle>

<h1>Miles 95 API</h1>

<p>Miles95 prices from 2015-2023</p>

@if (miles95Price == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Price in $</th>
          
        </tr>
        </thead>
        
        <tbody>
        @foreach (var priceData in miles95Price)
        {
            <tr>
                <td>@priceData.Date.ToShortDateString()</td>
                <td>@priceData.Price</td>
                
               
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private Miles95[]? miles95Price;

    protected override async Task OnInitializedAsync()
    {
        miles95Price = await Http.GetFromJsonAsync<Miles95[]>("https://magsapi.onrender.com/api/miles95");
    }

    public class Miles95
    {
        public decimal Price { get; set; }
        public DateTime Date { get; set; }

    }

}