@page "/LineChart"
@inject HttpClient Http


<PageTitle>Miles95 API</PageTitle>

<h1>Gasoline Prices</h1>



@if (miles95Price == null || dieselPrice == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <ApexChart TItem="GasPrices"
               Title="Miles95 & Diesel price">

        <ApexPointSeries TItem="GasPrices"
                         Items="miles95Price"
                         Name="Miles95 Price"
                         SeriesType="SeriesType.Line"
                         XValue="e => e.Date"
                         YValue="e => e.Price" />

        <ApexPointSeries TItem="GasPrices"
                         Items="dieselPrice"
                         Name="Diesel Price"
                         SeriesType="SeriesType.Line"
                         XValue="e => e.Date"
                         YValue="e => e.Price" />
        
    </ApexChart>
}

@code {
    
    //Private betyder at variablen kun kan tilgås i klassen
    //Deklarerer et array af Miles95 objekter. "?" indikerer at arrayet kan være null.
    // miles95Price/dieselPrice er den variabel der holder arrayet af objekter.
    private GasPrices[]? miles95Price;
    private GasPrices[]? dieselPrice;
    
    // 

    protected override async Task OnInitializedAsync()
    {
        miles95Price = await Http.GetFromJsonAsync<GasPrices[]>("https://magsapi.onrender.com/api/miles95");
        dieselPrice = await Http.GetFromJsonAsync<GasPrices[]>("https://magsapi.onrender.com/api/diesel");
    }

    public class GasPrices
    {
        public decimal Price { get; set; }
        public DateTime Date { get; set; }

    }

}