@page "/Table"
@inject HttpClient Http

<PageTitle>Miles95 API</PageTitle>

<h1>Miles 95 Table</h1>

<p>Miles95 prices from 2015-2023</p>

@if (miles95Price == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Price in $</th>
          
        </tr>
        </thead>
        
        <tbody>
        @foreach (var priceData in miles95Price)
        {
            <tr>
                <td>@priceData.Date.ToShortDateString()</td>
                <td>@priceData.Price</td>
                
               
            </tr>
        }
        </tbody>
    </table>
    
    <table class="tableDiesel">
        <thead>
        <tr>
            <th>Date</th>
            <th>Price in $</th>
          
        </tr>
        </thead>
        
        <tbody>
        @foreach (var dieselData in dieselPrice)
        {
            <tr>
                <td>@dieselData.Date</td>
                <td>@dieselData.Price</td>
                
               
            </tr>
        }
        </tbody>
    </table>
    
    
    
}

@code {
    
    //Private betyder at variablen kun kan tilgås i klassen
    //Deklarerer et array af Miles95 objekter. "?" indikerer at arrayet kan være null.
    // miles95Price er den variabel der holder arrayet af objekter.
    private Miles95[]? miles95Price;
    private Diesel[]? dieselPrice;
    
    // 

    protected override async Task OnInitializedAsync()
    {
        miles95Price = await Http.GetFromJsonAsync<Miles95[]>("https://magsapi.onrender.com/api/miles95");
        dieselPrice = await Http.GetFromJsonAsync<Diesel[]>("https://magsapi.onrender.com/api/diesel");
    }

    public class Miles95
    {
        public decimal Price { get; set; }
        public DateTime Date { get; set; }

    }
    

    
 
    public class Diesel
    {
        public string Price { get; set; }
        public string Date { get; set; }
    }

}