@page "/"

<PageTitle>Gas Prices</PageTitle>

<h1>Gas Prices API</h1>

<button @onclick="FetchData">Get Prices</button>

@if(miles95 != null)
{

    <p> Price: @miles95.Price</p>
    <p> Price: @miles95.Date</p>

}


@code{

    public HttpClient httpClient = new HttpClient();

    public async Task FetchData()
    {
        miles95 = await httpClient.GetFromJsonAsync<Miles95>("https://magsapi.onrender.com/api/miles95");
    }

    public Miles95 miles95;
    public class Miles95
    {
        public decimal Price { get; set; }
        public DateTime Date { get; set; }

    }

}